<h2>Clients</h2>
<p>Total clients: {{ clients.length }}</p>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Country</th>
    <th>Status</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>
  </thead>

  <tbody>
    @for (client of clients; track client.id) {
      <tr>
        <td>{{ client.name }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.address }}</td>
        <td>{{ client.country }}</td>
        <td>{{ client.status }}</td>
        <td>{{ client.createdAt }}</td>
        <td>{{ client.updatedAt }}</td>
      </tr>
    }
  </tbody>
</table>
